In [26]:
import numpy as np
import pandas as pd
from sklearn import datasets
from sklearn import cross_validation as cv

In [17]:
iris=datasets.load_iris()
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [32]:
Target=iris.target
Target=Target[0:100]

In [19]:
irisF=pd.DataFrame(iris.data)

In [20]:
count=[0,0,0]
for x in range(len(Target)):
    if Target[x]==0:
        count[0]+=1
    elif Target[x]==1:
        count[1]+=1
    else:
        count[2]+=1
count

[50, 50, 50]

In [24]:
irisF=irisF[0:100]
irisF.describe()

                0           1           2           3
count  100.000000  100.000000  100.000000  100.000000
mean     5.471000    3.094000    2.862000    0.785000
std      0.641698    0.476057    1.448565    0.566288
min      4.300000    2.000000    1.000000    0.100000
25%      5.000000    2.800000    1.500000    0.200000
50%      5.400000    3.050000    2.450000    0.800000
75%      5.900000    3.400000    4.325000    1.300000
max      7.000000    4.400000    5.100000    1.800000

In [33]:
X_train,X_test,Y_train,Y_test=cv.train_test_split(irisF,Target,test_size=0.3)

In [36]:
import numpy as np
import math as mt

def Exp(m,x):
    return mt.exp(-(m*x))
def Hx(m,x):
    return (1/(1+Exp(m,x)))
def CrossEntropy(X,Y,m):
    cost=0
    n=len(X)
    for i in range(len(X)):
        x=X[i]
        y=Y[i]
        cost+=x*(Hx(m,x)-y)/n
    return cost

In [55]:
def step_gradient(xpoints,ypoints,alpha,m_cur):
    m_slope=0
    xpoints=np.array(xpoints)
    n=len(xpoints)
    for i in range(n):
        x=xpoints[i]
        y=ypoints[i]
        m_slope+=x*(Hx(m_cur,x)-y)/n
    newM=m_cur-(m_slope*alpha)        
    return (newM)


def grade_runner(xpoints,ypoints,noi=1000,alpha=0.001):
    m=0
    for i in range(int(noi)):
        m=step_gradient(xpoints,ypoints,alpha,m)    
    return m

def run():
    alpha = 0.000001
    noi = 10000
    final_m=[]
    ypoints=Y_train
    for i in range(X_train.shape[1]):
        xpoints=X_train[int(i)]
        final_mS = grade_runner(xpoints,ypoints, noi,alpha)
        final_m.append(final_mS)
    print("Slope = ",final_m)
    print("Slope count = ",len(final_m))

In [42]:
run()

Slope =  [0.0052155354931994885, 0.0001058844064329538, 0.0085229392416810764, 0.0031674207115184603]
Slope count =  4

In [44]:
from sklearn.linear_model import LogisticRegression

In [47]:
lr=LogisticRegression()
lr.fit(X_train,Y_train)
lr.score(X_test,Y_test)

1.0

In [53]:
Y_test.size

30

In [50]:
X_test.describe()

               0          1          2          3
count  30.000000  30.000000  30.000000  30.000000
mean    5.286667   3.223333   2.480000   0.676667
std     0.613488   0.390122   1.405016   0.548781
min     4.400000   2.500000   1.000000   0.100000
25%     4.850000   2.925000   1.500000   0.200000
50%     5.150000   3.200000   1.600000   0.400000
75%     5.575000   3.500000   4.125000   1.300000
max     6.700000   3.900000   5.000000   1.700000

In [54]:
lr.coef_

array([[-0.38448455, -1.30254011,  2.07298805,  0.90208025]])

In [56]:
run()

Slope =  [0.005215359439928343, 0.0001058832904818395, 0.0085228332157687853, 0.0031674171069267683]
Slope count =  4